

    <table class="table table-striped table-bordered" data-ng-hide="data.error">
     <!--  <thead>
          <tr>
              <th>Description</th>
          </tr>
      </thead> -->
      <tbody ui-sortable>
        <tr data-ng-repeat="todo in todos" style="cursor: move;">
          <td>
              {{ todo.title }}
            <!--
            <span class="pull-right">
              <button class="btn btn-success" data-ng-click="taskCompleted($index)">&#10003;</button>
              <button class="btn btn-danger" data-ng-click="removeTodo($index)">X</button>
            </span>
-->
          </td>
        </tr>
      </tbody>
    </table>